.tabs {
  padding: 1rem;
  border: solid 1px #000;
  display: inline-flex;
  width: 100%;
  font-family: "Poppins", cursive;

  li {
    font-size: 1.3rem;
    list-style-type: none;
    padding: 0 1rem;
    cursor: pointer;

    & > a {
      text-decoration: none;
    }

    &.blink {
      text-decoration: blink;
      animation-name: blinker;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
    }
  }
}

.tabs .dark {
  border: solid 2px #fff;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
