section.settings {
  .settings-title {
    width: 100%;
    display: inline-grid;
  }

  .option-wrapper {
    padding: 1.5rem;
    margin: 0.3rem;

    & > label {
      padding: 0 0.7rem 0 0.2rem;
    }

    & input[type="text"] {
      width: 100%;
      height: 30px;
      border: solid 1px #ccc;
      padding: 0 3px;
    }
  }
}
